@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Trispace:wght@300&display=swap');
// ici pour le changement de forma
@media screen and(min-width:780px) {
}
// mes variable couleur
:root{
    --color1:black;
    --color2:white;
    --color3:#6BBAEC;
    --color4:rgb(4, 3, 73);
    --color5:rgb(105, 36, 36);
}
// reset scss
*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    align-items: center;
    font-family: 'Fugaz One', cursive;
    font-family: 'Trispace', sans-serif;
    // le repet de img
    background: no-repeat;
    // position de l'image d'arrière-plan
    background-attachment: fixed;
    // btm-mode-mini
    .btn-rond-navig{
        .cont-navig{
            // largeur
            width: 60px;
            // hauteur
            height: 60px;
            border: 1px solid #100c0c;
             // les coin de la nav
            border-radius: 50%;
            //  dégradé entre deux couleurs le long d'une ligne droite.
            background: linear-gradient(to bottom,#5c0101,#ffffff);
            position: fixed;
            //position a partire du haut 
            top: 10px;
            //position a partire de gauche
            left: 10px;
            // l'ordre des différentes couches
            z-index: 10;
        }
    }
    header{
        .container{
            // opacity: 0;
            color: var(--color2);
            // met text en majuscule
            text-transform: uppercase;
            // color
            background-color: var(--color4);
            // largeur
            width: 15vw;
            // hauteur
            height: 100vh;
            position: fixed;
            //  z-index: 5;
            // transition: all .2s ease-in-out;
            .profilImage{
                span{
                    #myImage{
                        width: 5vw;
                    }
                    // .lienExt{
                    //     display: flex;
                    //     width: auto;
                    //     height: auto;
                    // }
                }
            }
            .menu{
                height: 12vh;
                width: 15vw;
                .nav-menu{
                    height: 12vh;
                    width: 15vw;
                    // border-spacing: 1 50vh;
                    // taille de la police d'écriture
                    font-size: 1.2em;
                    // épaisseur de police d'écriture
                    font-weight: bold;
                    display: inline-block;
                    justify-content: space-between;
                    // align-items: center;
                    border:1px solid #0f6c06;
                    // margin-top: 10px;
                    a{
                        text-indent: 20%;
                        height: 10vh;
                        width: 5vw;
                        text-decoration: none;
                        color:var(--color3);
                        border: 1px solid red;
                        img{
                            width: 10px;
                        }
                        img{
                            border: 1px ;
                            width: 3vw;
                        }     
                    }
                }
            }
        }
    }       
    #secAccueil{

        // largeur
        width: 100vw;
        // hauteur
        height: 100vh;
        background: url("/image/n°1_backround.jpg");
        // taille de l'image
        background-size: cover;
        // le répétage
        background-repeat: no-repeat;
        min-height: 100vh;
        // centrage
        background-position: center;
        // h1 apparrait seulement sur mobil
        h1{
            opacity: 0;
            font-family: Arial, Helvetica, sans-serif;
            // padding-top: 100px;
            text-align: center;
            color: #ffff00;
            // position: relative;
            font-size: 0px; font-size: 2rem;
        }
        .textBienvenu{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            .bienvenuAnimation{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 5rem;
                .letter{
                    color: yellow;
                }
            }
        }
        // #time{
        //     position: fixed;
        //     color:var(--color2);
        //     // text-indent: 20rem;
        //     font-size: 2px; font-size: 2rem;
        //     float: right;

        //     .cercle{
        //         position: relative;
        //         width: 150px;
        //         height: 150px;
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         // placé sur le côté droit ou sur le côté gauche de son conteneur
        //         float: left;
        //         // border: 1px solid red;

        //         #heurs{
        //         color: white;
        //         svg{
        //             circle{
        //                 width: 100%;
        //                 height: 100%;
        //                 fill: transparent;
        //                 stroke: #191919;
        //                 stroke-width: 4;
        //                 transform: translate(5px);
        //                 :nth-child(2){
        //                     stroke: var(--color5);
        //                 }
        //             }
        //         }
        //         }
        //         #minutes{
        //         color: white;
        //         }
        //         #second{ 
        //         text-align: center;
        //         }
        //         #amPm{ 
        //         color: white;


        //         }
        //     }
        // }
        h2{
            position: relative;
            // position depuis le bord haut
            margin-bottom:1em ;
            color:var(--color2);
            top: 15rem;
            text-indent: 20rem;
            font-size: 2px; font-size: 2rem;
        }
        #devName{
            color: red;
        }
        #text2{
            // top: 1rem;
            left: 44rem;
            color: blue;
        }
        #text3{
            top: 40rem;
            left: 29rem;
            color: yellow;
        }
        // #myImageAccueil{
        //     text-align: center;
        //     display: block;
        //     position: relative;
        //     top: 15rem;
        //     //  redimensionnée pour être aussi grande que possible et pour conserver ses proportions.
        //     background-size: cover;
        //     background-position: center;
        //     background: url("/image/image_accueil2.jpg");
        //     height: 40vh;
        //     width: 40vw;
        //     margin-left: auto;
        //     padding-right: auto;
        // }
        .arrow{
            position: absolute;
            bottom: 5px;
            left: 50%;
            /* transform: translateX(-100%); */
            transform:translateY(1200%) ;
            .icons-the-arrow{
                font-size: 3rem;
                opacity: 0;
                color: var(--color2);
            }
        }
        
    }
    #secPresentation{
        background: rgba($color: #0c7c7c, $alpha: 1.0);
        text-align: center;
        // largeur
        width: 100vw;
        // hauteur
        height: 100vh;
        .artPres{
            h3{
                text-align: center;
            }
            .divTextPres{
                .textPres{
                    text-align: center;
                }
                .ulPresGauche{
                    ul{
                        li{
                            text-align: center
                        }
                    }
                }
            }
        }

    }
    #secCurriculumVitae{
        background: rgba($color: #6c0654, $alpha: 1.0);
        text-align: center;
        // largeur
        width: 100vw;
        // hauteur
        height: 100vh;
        .cvText{
            text-align: center;
            .textCV{
                text-align: center;
            //  cv
            }
        }
        .cvPlacement{
            a{
                text-align: center;
            }
        }
    }
    #secProjetDeFormation{
        background: rgba($color: #ffffff, $alpha: 1.0);
        // largeur
        width: 100vw;
        // hauteur
        height: 100vh;
        // H2
        #titlePageProjet{
            position: relative;
            // position depuis le bord haut
            top: 2rem;
            margin-bottom:1em ;
            color:var(--color1);
            text-indent: 20rem;
            font-size: 2px; font-size: 2rem;
        }
        .contProjet{
            float: right;
            height: 50vh;
            .divItem{
                align-items: center;
                float: left;
                .item{
                    text-align: center;
                    // float: right;
                    display: flex;
                    height: 90h;
                    width: 10vw;
                }
            }
        }
    }
    #secContact{
        background: rgba($color: #4e4e4e, $alpha: 1.0);
        // largeur
        width: 100vw;
        // hauteur
        height: 100vh;
        text-align: center;

        h2{
        }
        .contactCordo{
            fieldset{
                legend{

                }
            }
        }

    }
}
footer{
    text-align: center;
    background-color: var(--color1);
    color: var(--color3);
    ul{
        li{
            p{
                text-align: center;
            }
        }
    } 
}