@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Trispace:wght@300&display=swap');
// ici pour le changement de forma
@media screen and(min-width:780px) {
}
// mes variable couleur
:root{
    --color1:black;
    --color2:white;
    --color3:#6BBAEC;
}
// reset scss
*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fugaz One', cursive;
    font-family: 'Trispace', sans-serif;
    // le repet de img
    background: no-repeat;
    // position de l'image d'arrière-plan
    background-attachment: fixed;
    // btm-mode-mini
    .btn-rond-navig{
        .cont-navig{
            // largeur
            width: 60px;
            // hauteur
            height: 60px;
            border: 1px solid #100c0c;
             // les coin de la nav
            border-radius: 50%;
            //  dégradé entre deux couleurs le long d'une ligne droite.
            background: linear-gradient(to bottom,#5c0101,#ffffff);
            position: fixed;
            //position a partire du haut 
            top: 10px;
            //position a partire de gauche
            left: 10px;
            // l'ordre des différentes couches
            z-index: 10;
        }
    }
    header{
        .container{
            // var qui met en les text en blanc
            color: var(--color2);
            // met text en majuscule
            text-transform: uppercase;
            // permet de metre la nav à gauche
            float: left;
            position: relative;
            // color
            background-color: var(--color2);
            // largeur
            width: 300px;
            // hauteur
            height: 100vh;
            // hauteur minimal
            min-height: 700px;
            position: fixed;
            top: 0;
            // border-right: 1px solide var(--color3);
             z-index: 5;
            transition: all .2s ease-in-out;
            .navigation{
                .profilImage{
                    span{
                        #myImage{
                            border: 1px ;
                            width: 5vw;
                        }
                    }
                }
                .menu{
                    .nav-menu{
                        font-size: 19px;
                        font-weight: 700;
                        // la forme du curseur
                        cursor: pointer;
                        width: 100%;
                        height: 10%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a{
                            text-decoration: none;
                            color:var(--color3);
                            // border: 1px solid red;
                            img{
                                width: 10px;
                            }
                            img{
                                border: 1px ;
                                width: 3vw;
                            }
                            
                        }
                    }
                }
            }
        }
    }       
    #secAccueil{
        // largeur
        width: 100vw;
        // hauteur
        height: 100vh;
        background: url("/image/n°1_backround.avif");
        // taille de l'image
        background-size: cover;
        // le répétage
        background-repeat: no-repeat;
        min-height: 100vh;
        // centrage
        background-position: center;
        h1{
            font-family: Arial, Helvetica, sans-serif;
            margin: 0 30px 0 30px;
            padding-top: 100px;
            text-align: center;
        }
        h2{
            text-align: center;
            
        }
        h4{
            text-align: center;
        }
        // #myImageAccueil{
        //     text-align: center;
        //     display: block;
        //     border: 1px solid red;
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     background-position: right;
        //     background: url("/image/image_accueil2.jpg");
        //     height: 50vh;
        //     width: 50vw;
        //     margin-left: auto;
        //     margin-right: auto;
            
        // }
    }
    #secPresentation{
        background: rgba($color: #0c7c7c, $alpha: 1.0);
        text-align: center;
        // largeur
        width: 100vw;
        // hauteur
        height: 100vh;
        .artPres{
            h3{
                text-align: center;
            }
            .divTextPres{
                textPres{
                    text-align: center;
                }
                .ulPresGauche{
                    ul{
                        li{
                            text-align: center
                        }
                    }
                }
            }
        }

    }
    #secCurriculumVitae{
        background: rgba($color: #6c0654, $alpha: 1.0);
        text-align: center;
        // largeur
        width: 100vw;
        // hauteur
        height: 100vh;
        .cvText{
            .textCV{
                text-align: center;
            }
        }
        .cvPlacement{
            a{
                text-align: center;
            }
        }
    }
    #secProjDeFormation{
        background: rgba($color: #b4ab03, $alpha: 1.0);
        text-align: center;
        // largeur
        width: 100vw;
        // hauteur
        height: 100vh;
    }

}
footer{
    text-align: center;
    background-color: var(--color1);
    color: var(--color3);
    ul{
        li{
            p{
                text-align: center;
            }
        }
    } 
}